<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>264849069591-buake4gc538ttvt5g4mgko5pf791ol4v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.264849069591-buake4gc538ttvt5g4mgko5pf791ol4v</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>264849069591-iv4on4oqpe94gn3jruv19hjtgu1nobpm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDiSRHrDD0EXRWVsA_nGlWa-IWKuZt1QRc</string>
	<key>GCM_SENDER_ID</key>
	<string>264849069591</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kduy.chatapp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-93655</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-93655.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:264849069591:ios:22fe55d896725c97a6ae52</string>
</dict>
</plist>